<li class="list-group-item clearfix">



  <small><em>
    <% conversation.receipts_for(current_user).each do |receipt| %>
        <% if receipt.message.sender != current_user %>
        
    <% unless receipt.message.sender.avatar_url.nil? %>
      <%= image_tag receipt.message.sender.avatar_url(:smallthumbnail) %>
    <% end %>
        Conversation with 
        <%= receipt.message.sender.to_s %>
      <% end %>
    <% end %>
    (<span class="text-muted"><%= conversation.last_message.created_at.strftime("%-d %B %Y, %H:%M:%S") %></span>)
  </em></small>

  <br><br>

  <strong><%= link_to conversation.subject, conversation_path(conversation) %></strong>

	<div class="btn-group-vertical pull-right">
  	<% if conversation.is_trashed?(current_user) %>
    	<%= link_to 'Restore', restore_conversation_path(conversation), class: 'btn btn-xs btn-info', method: :post %>
  	<% else %>
    	<%= link_to 'Move to trash', conversation_path(conversation), class: 'btn btn-xs btn-danger', method: :delete,
                data: {confirm: 'Are you sure?'} %>

    	<% if conversation.is_unread?(current_user) %>
      	<%= link_to 'Mark as read', mark_as_read_conversation_path(conversation), class: 'btn btn-xs btn-info', method: :post %>
    	<% end %>
  	<% end %>
	</div>

  <p><%= conversation.last_message.body %><br><br>
</p>
</li>



