<div class="container">
  <div class="page-header">
  <h1>
    Talent Profiles &nbsp;
    <%= link_to "Can't find the right person? Contact us!", contacts_path, class: 'btn btn-warning pull-right', :method => :get %>
  </h1>

</div>


<form action="<%= users_path %>" method="get" id="search-form" class="pull-right">
<em>You may search 'first_name', 'last_name', 'city', 'country' -> </em>
    <%= text_field_tag :search, params[:search], placeholder: "Search User" %>
    <%= submit_tag "Search", :name => nil %>
</form>

<table class="table table-hover">
  <thead>
    <tr>
      <th>
        <%= t(:name) %>
      </th>
      <th>
        <%= t(:city) %> 
      </th>
      <th>
        <%= t(:country) %>
      </th>
      <th>
        <%= t(:interested_in) %> 
      </th>
      <th>
        
      </th>      
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user.to_s, user %>
        </td>
        <td>
          <%= user.city %>
        </td>
        <td>
          <%= user.country %>
        </td>
        <td class="hidden-xs">
          <% user.tag_names.each do |name| %>
            <span class="label label-info">
              <%= name %>
            </span>
          <% end %>
        </td>
        <td>
          <% unless current_user == user %>
            <%= link_to 'Message', new_message_path(to: user.id), class: 'btn btn-default btn-sm' %>
          <% end %>          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>