<div class="container">
  <div class="page-header">

  <h1>&nbsp; &nbsp; <%= @user %> 

    <% if @user != current_user %>  
    <%= link_to "<- Back", users_path, class: 'btn btn-default pull-right', :method => :get %>
    <% end %>
  </h1>



</div> <!-- page-header -->
	<div class="jumbotron">

		<div class="row">
	  	<div class="col-sm-4">
	  		<center>
		    	<% unless @user.avatar_url.nil? %><%= image_tag @user.avatar_url(:profile) %><br><% end %>

  					<br>
	  			<% @user.tags.each do |tag| %>
  	  			<span class="label label-info">
    	  			<%= tag.name %>
    				</span>
  				<% end %><br>
  			</center>
  		</div>

  		<div class="col-md-6">
        <%= image_tag("icons-crop.png", :alt=> "Social Media") %>&nbsp; 
          <% unless current_user == @user %>
            <%= link_to 'Send A Private Message', new_message_path(to: @user.id), class: 'btn btn-default btn-sm' %>
          <% end %><br><br>
  			<div class="row">
  				<div class="col-sm-4">
            <strong>
            Name: 
            <br>
  					Gender: 
  					<br>
  					Date of Birth:
  					<br>
  					City:
  					<br>
  					Country:
  					<br>
  					Website: 
  					<br>
  					Profile Description:
  					<br>
            </strong>
  				</div>
  				<div class="col-sm-8">
            <%= @user %>
            <br>
  					<%= @user.gender %>
  					<br>
  					<%= @user.date_of_birth %>
  					<br>
  					<%= @user.city %>
  					<br>
  					<%= @user.country %>
  					<br>
  					<%= link_to @user.website, url_for(@user.website), :target => "_blank" %>
  					<br>
  					<%= @user.description %>
  					<br>
  				</div> <!-- col-sm-4 -->
  			</div> <!-- row -->
 		 	</div> <!-- col-md-6 -->

		</div> <!-- row -->
	</div> <!-- jumbotron -->
</div>