<div class="page-header">

	<div class="jumbotron">
		<% unless @user.avatar_url.nil? %><%= image_tag @user.avatar_url(:profile) %><br><% end %>

  	<h1><%= @user %></h1>

	<hr>
  	<% @user.tags.each do |tag| %>
    	<span class="label label-info">
      	<%= tag.name %>
    	</span>
  	<% end %>

	<br><br>
		Gender: <%= @user.gender %>
		<br>
		Date of Birth: <%= @user.date_of_birth %>
		<br>
		City: <%= @user.city %> 
		<br>
		Country: <%= @user.country %>
		<br>
		Website: <%= @user.website %>
		<br>
		Profile Description: <%= @user.description %>

	</div>
</div>