<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>CAST.MY</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= yield :stylesheets %>
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :javascript %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <br><br><br><br>
    <div class="container">
      <%= render 'layouts/alerts' %>
      <%= yield %>
    </div>
      <%= render 'layouts/footer' %>
  </body>
</html>
